/.kube-secrets
/tmp
/dev
/local
**/dev
/hack/tools/bin
/gardener

*.coverprofile
*.html
.vscode
.idea/
!.idea/copyright/
.godev
.DS_Store
*~
*.sw[pq]

TODO
/local

# Virtual go & fuse
.virtualgo
.fuse_hidden*

# gosec
gosec-report.sarif
