apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: extensions.gardener.cloud:extension-{{ .Values.serviceName }}:{{ .Values.serviceName }}
rules:
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - update
  - watch
  {{- if .Values.nextGeneration.enabled }}
  - patch
  {{- end }}
- apiGroups:
  - "extensions"
  - "networking.k8s.io"
  resources:
  - ingresses
  verbs:
  - get
  - list
  - update
  - watch
  {{- if .Values.nextGeneration.enabled }}
  - patch
  {{- end }}
- apiGroups:
  - "gateway.networking.k8s.io"
  resources:
  - gateways
  - httproutes
  verbs:
  - get
  - list
  - update
  - watch
  {{- if .Values.nextGeneration.enabled }}
  - patch
  {{- end }}
- apiGroups:
  - "networking.istio.io"
  resources:
  - gateways
  - virtualservices
  verbs:
  - get
  - list
  - update
  - watch
  {{- if .Values.nextGeneration.enabled }}
  - patch
  {{- end }}
- apiGroups:
  - dns.gardener.cloud
  resources:
  - dnsentries
  - dnsentries/status
  - dnsannotations
  - dnsannotations/status
  {{- if .Values.dnsProviderReplication.enabled }}
  - dnsproviders
  - dnsproviders/status
  {{- end }}
  verbs:
  - get
  - list
  - update
  - watch
  - create
  - delete
  - patch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - update
  - create
  - watch
  - patch
- apiGroups:
  - resources.gardener.cloud
  resources:
  - managedresources
  verbs:
  - list
  - get
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
{{- if .Values.dnsProviderReplication.enabled }}
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  {{- if .Values.nextGeneration.enabled }}
  - list
  - watch
  {{- if .Values.dnsProviderReplication.enabled }}
  - patch
  {{- end }}
  {{- end }}
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: extensions.gardener.cloud:extension-{{ .Values.serviceName }}:{{ .Values.serviceName }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: extensions.gardener.cloud:extension-{{ .Values.serviceName }}:{{ .Values.serviceName }}
subjects:
- kind: ServiceAccount
  name: {{ .Values.shootAccessServiceAccountName }}
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: extensions.gardener.cloud:extension-{{ .Values.serviceName }}:{{ .Values.serviceName }}
  namespace: kube-system
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - watch
      - update
    resourceNames:
      - shoot-dns-service
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - create
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    resourceNames:
      - shoot-dns-service
    verbs:
      - get
      - watch
      - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: extensions.gardener.cloud:extension-{{ .Values.serviceName }}:{{ .Values.serviceName }}
  namespace: kube-system
subjects:
- kind: ServiceAccount
  name: {{ .Values.shootAccessServiceAccountName }}
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: extensions.gardener.cloud:extension-{{ .Values.serviceName }}:{{ .Values.serviceName }}
