# Default values for dns-service in seed.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicas: 1

images:
  dns-controller-manager: any-repo:any-tag

targetClusterSecret: "target-cluster"
podAnnotations: {}

genericTokenKubeconfigSecretName: generic-token-kubeconfig

creatorLabelValue: "4711-abc"
shootId: "4711"
seedId: "3141"
dnsClass: ""
shootActive: true

dnsActivation:
  enabled: false
#  dnsName: shoot.foo.bar.com
#  value: my-cluster-id

dnsProviderReplication:
  enabled: false

resources:
  requests:
    memory: "64Mi"
    cpu: "20m"
  limits:
    memory: "128Mi"
    cpu: "50m"

vpa:
  enabled: true
  minAllowed:
    cpu: 25m
    memory: 50Mi
  updatePolicy:
    updateMode: "Auto"
