apiVersion: {{ include "deploymentversion" . }}
kind: Deployment
metadata:
  name: {{ template "service.name" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app: {{ template "service.name" . }}
    chart: {{ template "service.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    high-availability-config.resources.gardener.cloud/type: controller
spec:
  revisionHistoryLimit: 2
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ template "service.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      annotations:
      {{- if .Values.nextGeneration.enabled }}
        checksum/next-generation-config: {{ include "next-generation-config" . | sha256sum }}
      {{- end }}
      {{- if .Values.podAnnotations }}
{{ toYaml .Values.podAnnotations | indent 8 }}
      {{- end }}
      labels:
        app: {{ template "service.name" . }}
        release: {{ .Release.Name }}
        gardener.cloud/role: controlplane
        networking.gardener.cloud/to-dns: allowed
        networking.gardener.cloud/to-runtime-apiserver: allowed
        networking.resources.gardener.cloud/to-kube-apiserver-tcp-443: allowed
        {{- if .Values.nextGeneration.enabled }}
        networking.gardener.cloud/to-public-networks: allowed
        networking.gardener.cloud/to-private-networks: allowed
        {{- end }}
    spec:
      serviceAccountName: {{ template "service.name" . }}
      containers:
        - name: {{ template "service.name" . }}
          {{- if not .Values.nextGeneration.enabled }}
          image: {{ index .Values.images "dns-controller-manager" }}
          {{- else }}
          image: {{ index .Values.images "dns-controller-manager-next-generation" }}
          {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
          volumeMounts:
          - mountPath: /var/run/secrets/gardener.cloud/shoot/generic-kubeconfig
            name: kubeconfig
            readOnly: true
          {{- if .Values.nextGeneration.enabled }}
          - mountPath: /etc/external-dns-management/next-generation
            name: config-volume
            readOnly: true
          {{- end }}
          args:
          {{- if not .Values.nextGeneration.enabled }}
          - --kubeconfig=/var/run/secrets/gardener.cloud/shoot/generic-kubeconfig/kubeconfig
          - --kubeconfig.id={{ .Values.shootId }}
          - --kubeconfig.conditional-deploy-crds
          - --kubeconfig.crds-shoot-no-cleanup-label
          - --target=IN-CLUSTER
          - --target-realms={{ .Release.Namespace }}
          - --target.id={{ .Values.seedId }}
          - --target.disable-deploy-crds
          - --controllers=dnssources,dnsentry-source,annotation{{- if .Values.dnsProviderReplication.enabled -}},dnsprovider-replication{{- end }}
          {{- if .Values.dnsProviderReplication.enabled }}
          - --dnsprovider-replication.target-realms={{ .Release.Namespace }},
          {{- if .Values.nextGeneration.restrictToControlPlaneControllers }}
          - --controllers=dnsprovider,dnsentry
          {{- end }}
          {{- end }}
          - --namespace=kube-system
          - --target-namespace={{ .Release.Namespace }}
          - --target-creator-label-name=gardener.cloud/shoot-id
          - --target-creator-label-value={{ .Values.creatorLabelValue }}
          - --dns-target-class=gardendns,gardendns-next-gen
          - --dns-class={{ .Values.dnsClass }}
          - --lease-name=shoot-dns-service
          - --lease-resource-lock=leases
          {{- else }}
          - --config=/etc/external-dns-management/next-generation/config.yaml
          {{- end }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
      priorityClassName: gardener-system-200
      volumes:
      - name: kubeconfig
        projected:
          defaultMode: 420
          sources:
          - secret:
              items:
              - key: kubeconfig
                path: kubeconfig
              name: {{ .Values.genericTokenKubeconfigSecretName }}
              optional: false
          - secret:
              items:
              - key: token
                path: token
              name: {{ .Values.targetClusterSecret }}
              optional: false
      {{- if .Values.nextGeneration.enabled }}
      - name: config-volume
        configMap:
          name: {{ template "service.name" . }}-next-generation-config
          items:
          - key: config
            path: config.yaml
      {{- end }}
