{{- if .Values.nextGeneration.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "service.name" . }}-next-generation-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "service.name" . }}
    chart: {{ template "service.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  config: |
    apiVersion: config.dns.gardener.cloud/v1alpha1
    kind: DNSManagerConfiguration
    class: {{ .Values.nextGeneration.dnsClass }}
    logFormat: json
    logLevel: info
    clientConnection:
      kubeconfig: /var/run/secrets/gardener.cloud/shoot/generic-kubeconfig/kubeconfig
    controlPlaneClientConnection:
      kubeconfig: IN-CLUSTER
    controllers:
      dnsProvider:
        namespace: {{ .Release.Namespace }}
        migrationMode: true
      source:
        sourceClass: {{ .Values.dnsClass }}
        targetClass: {{ .Values.nextGeneration.dnsClass }}
        targetNamespace: {{ .Release.Namespace }}
        targetLabels:
          gardener.cloud/shoot-id: {{ .Values.creatorLabelValue }}
        targetClusterID: {{ .Values.seedId }}
        sourceClusterID: {{ .Values.shootId }}
        {{ if .Values.dnsProviderReplication.enabled }}
        dnsProviderReplication: true
        {{ end }}
    leaderElection:
      leaderElect: true
      resourceName: shoot-dns-service
      resourceNamespace: kube-system
{{- end }}