image:
  repository: europe-docker.pkg.dev/gardener-project/public/gardener/extensions/admission-shoot-dns-service
  tag: latest
  pullPolicy: IfNotPresent
replicaCount: 1
resources:
  requests:
    cpu: 30m
    memory: 100Mi
healthPort: 8081
vpa:
  enabled: true
  resourcePolicy:
    minAllowed:
      memory: 64Mi
    controlledValues: RequestsOnly
  updatePolicy:
    updateMode: "Recreate"
webhookConfig:
  serverPort: 10250
# Kubeconfig to the target cluster. In-cluster configuration will be used if not specified.
kubeconfig:

# projectedKubeconfig:
#   baseMountPath: /var/run/secrets/gardener.cloud
#   genericKubeconfigSecretName: generic-token-kubeconfig
#   tokenSecretName: access-dns-admission

service:
  topologyAwareRouting:
    enabled: false

validateSecrets: true

gardener:
  virtualCluster:
    enabled: true
    serviceAccount: {}
#     name: ardener-extension-admission-shoot-dns-service
#     namespace: kube-system
  runtimeCluster: {}
#   priorityClassName: gardener-garden-system-400

workloadIdentity:
  gcp:
    allowedTokenURLs: []
    # - https://sts.googleapis.com/v1/token
    allowedServiceAccountImpersonationURLRegExps: []
    # - ^https://iamcredentials\.googleapis\.com/v1/projects/-/serviceAccounts/.+:generateAccessToken$