{{- if .Values.dnsControllerManager.deploy }}
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: dns-controller-manager
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "dnsmanLabels" . | indent 4 }}
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
{{ include "dnsmanLabels" . | indent 6 }}
{{- end }}
  unhealthyPodEvictionPolicy: AlwaysAllow