{{- if and .Values.dnsControllerManager.deploy .Values.vpa.enabled }}
apiVersion: "autoscaling.k8s.io/v1"
kind: VerticalPodAutoscaler
metadata:
  name: dns-controller-manager-vpa
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "dnsmanLabels" . | indent 4 }}
spec:
  resourcePolicy:
    containerPolicies:
      - containerName: '*'
        controlledValues: {{ .Values.dnsControllerManager.vpa.controlledValues }}
        minAllowed:
          cpu: {{ .Values.dnsControllerManager.vpa.minAllowed.cpu }}
          memory: {{ .Values.dnsControllerManager.vpa.minAllowed.memory }}
  targetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: dns-controller-manager
  updatePolicy:
    updateMode: {{ .Values.dnsControllerManager.vpa.updatePolicy.updateMode }}
{{- end }}