name: Build
on:
  push:
  pull_request_target:
    types:
      - labeled

jobs:
  build:
    # only run if run was triggered by either:
    # - head-update (push to local branch)
    # - pullrequest-label `ok-to-test` was added
    # (the latter label is hardcoded in gardener/cc-utils's trusted-checkout action)
    if: ${{ github.event.action != 'labeled' || (github.event.label.name == vars.DEFAULT_LABEL_OK_TO_TEST && vars.DEFAULT_LABEL_OK_TO_TEST != '') }}
    uses: ./.github/workflows/build.yaml
    with:
      mode: snapshot
    secrets: inherit
    permissions:
      contents: read
      packages: write
      id-token: write
      pull-requests: write

  component-descriptor:
    uses: gardener/cc-utils/.github/workflows/post-build.yaml@master
    needs:
      - build
    permissions:
      id-token: write
      contents: write
